*~
*.sw?

# Executables
bingspeech_recognition_example
bingspeech_synthesis_example
bingcustomvision_example
bingqnamaker_example

# Libraries
*.a
*.so

# CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# Audio files
*.wav
*.raw

# Qt
moc_*
*.cpp_parameters

# PkgConfig
*.pc
